body{
    background-image:url("/Users/yashwanth/Desktop/HTML CSS/Blue Gradient Ink Watercolor Background Wallpaper Image For Free Download - Pngtree.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.scr{
    background-image:url("/Users/yashwanth/Desktop/HTML CSS/Internet Creative Technology Circuit Circuit Background Wallpaper Image For Free Download - Pngtree.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

}

